<!Doctype html>
<html lang="en" dir="ltr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kings Club</title>

    <!--Links to CSS and Javascript-->
    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
    <script src="myjs.js"></script>


</head>
<body>
    <header>
        <nav class="navbar" id="navbar">

   <!--Logo-->
        <a href="index.html">
            <h2 class="logo">Kings<span>Club</span></h2>
        </a>
            
    <!--Menu-->
        <div class="menu" id="menu">
            <ul class="nav-list">
                <li class="list-item">
                    <a href="#" class="list-link current">Home</a>
            
                </li>

                 <li class="list-item">
                    <a href="#" class="list-link">Categories</a>
            
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Membership</a>
            
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Contact</a>
            
                </li>

                <li class="list-item hidden">
                    <a href="#" class="list-link">sign in</a>
            
                </li><li class="list-item hidden">
                    <a href="#" class="list-link">sign up</a>
            
                </li>
            </ul>    
        </div>
    </nav>
    
</header>

            
</body>
</html>
